/* 053 - Pseudo Elements */

li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: linear-gradient(#caf, #fff);
  border: 2px solid #caf;
  margin-right: 10px;
  border-radius: 50%;
}

.lista-3 li:not(:first-child, :last-child, .terceiro) {
  background: #caf;
}

h2:not(.contato) {
  text-decoration: underline;
}
