body {
  font-family: Arial;
}

.hoje {
  color: darkred;
}

.amanha {
  color: darkblue;
}
a {
  text-decoration: none;
}

h2 a {
  color: seagreen;
}

p {
  font-family: Arial, sans-serif;
  font-size: 20px;
}
