.flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 20px;
}

body {
  margin: 0px;
}

h2 {
  background: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 20px;
  margin: 0px;
  flex-grow: 1; /*distribui o espaço restante entre os itens flexíveis, fazendo com que eles cresçam igualmente se houver espaço disponível*/
  flex-basis: auto; /*define o tamanho base do item flexível com base no seu conteúdo, permitindo que ele cresça conforme necessário*/
   /* flex-basis: 0; define o tamanho base do item flexível, permitindo que ele cresça igualmente */
   flex-shrink: 1; /*permite que o item flexível encolha se necessário para caber no contêiner flexível*/
}
